body {
    background-color: rgb(249, 246, 225);
    font-family: "Geist";
    margin: 0;
  }

h1 {
    text-align: center;
    font-weight:1200;
 }
  
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li.navbar {
    float: left;
  }
  
li a.navbar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover.navbar {
    background-color: #111;
  }

p {
    text-align: left;
}

.about {
    display: flex;
}

p.about {
    padding-bottom: 0.1vh;
}

/* ASSIGNMENT DROPDOWNS */

.dropdown-toggle {
	display: none;
}

/* Header that acts as the dropdown trigger */
.dropdown-header {
	user-select: none;
	padding-left: 1vw;
	margin-top: 10px;
	display: block;
	font-weight: 350;
	text-decoration: underline;
}

/* Hidden content that's triggerable */
.dropdown-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	border: 1px solid #cccccc;
	border-top: none;
	padding: 0 60px 10px;
}
.dropdown-toggle:checked + .dropdown-header + .dropdown-content {
	max-height: 900px; /* adjust to fit your content */
	transition: max-height 0.5s ease-in;
	padding: 0 60px 10px;
}